// Color Theme Swatches in Hex
$color-1-hex: #473459;
$color-2-hex: #0889A6;
$color-3-hex: #205459;
$color-4-hex: #66CDD9;
$color-5-hex: #0D0D0D;

// Color Theme Swatches in RGBA
$color-1-rgba: rgba(71,52,89, 0.3);
$color-2-rgba: rgba(8,137,166, 0.3);
$color-3-rgba: rgba(32,84,89, 0.3);
$color-4-rgba: rgba(102,205,217, 0.3);
$color-5-rgba: rgba(13,13,13, 0.3);

// Color Theme Swatches in HSLA
$color-1-hsla: hsla(270, 26, 27, 1);
$color-2-hsla: hsla(191, 90, 34, 1);
$color-3-hsla: hsla(185, 47, 23, 1);
$color-4-hsla: hsla(186, 60, 62, 1);
$color-5-hsla: hsla(0, 0, 5, 1);